* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  background-color: #dddddd;
}

.gameboard {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  justify-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

.gameBox {
  position: relative;
  width: fit-content;
  height: max-content;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,60px);
  grid-template-rows: repeat(3,60px);
  background-color: rgb(46, 46, 46);
}

.layer {
  position: absolute;
  inset: 0;
  background-color: rgba(240, 248, 255, 0.199);
}

.hidden {
  display: none;
}

.O {
  position: absolute;
  inset: 3px;
  background-color:  rgba(240, 248, 255, 0.199);
}

.O > div {
  position: absolute;
  inset: 0px;
  margin: 30px;
  border: 20px solid rgb(24, 130, 252);
  border-radius: 50%;
  z-index: 20;
}

.X::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #fc3319;
  transform: translateY(86px) rotate(45deg);
}

.X {
  position: absolute;
  inset: 3px;
  background-color: rgba(240, 248, 255, 0.199);
  z-index: 20;
}

.X::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #fc3319;
  transform: translateY(86px) rotate(-45deg);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  cursor: pointer;
}

.table, th, td {
  padding: 3px 8px;
  margin: 20px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid gray;
}