@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent; /* Safari/Chrome */
  -webkit-user-select: none; /* disables text selection*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  background-color: #eceff1;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home button {
  width: 120px;
}

.gameboard {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease-in-out;
}

.game {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  border-radius: 6px;
}

.gameBox {
  position: relative;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3,60px);
  grid-template-rows: repeat(3,60px);
  background-color: #ffffff;
}

.playerTwo {
  color: black;
}

.layer {
  position: absolute;
  inset: 0;
  background-color: rgba(61, 61, 61, 0.404);
}

.hidden {
  display: none;
}

.O {
  position: absolute;
  inset: 3px;
  background-color:  rgba(240, 248, 255, 0.199);
}

.O > div {
  position: absolute;
  inset: 0px;
  margin: 30px;
  border: 20px solid rgb(24, 130, 252);
  border-radius: 50%;
  z-index: 20;
}

.X {
  position: absolute;
  inset: 3px;
  background-color: rgba(240, 248, 255, 0.199);
  z-index: 20;
}

.X::before,.X::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #fc3319;
}

.X::before {
  transform: translateY(86px) rotate(45deg);
}

.X::after{
  transform: translateY(86px) rotate(-45deg);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(34, 34, 34, 0.973);
  cursor: pointer;
}

.player {
  margin: 20px;
  border-radius: 50%;
}

.resetBtn , .goToHome{
  position: absolute;
  top: 50px;
  left: 50px;
  transform: rotate(90deg);
}

.goToHome {
  left: 120px;
}

.resetModal {
  transform: rotate(90deg);
}

.tutorial {
  width: 100%;
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
} 

.online {
  height: 100vh;
  padding: 30px;
  text-align: center;
}

.authbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  font-weight: 670;
}

.profile {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.prodileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media ( min-width:800px) {
  .resetBtn,.goToHome {
    transform: rotate(0);
  }
}

@media (max-width:770px) {
  .gameboard {
    flex-direction: column;
  }

  .O > div {
    margin: 15px;
    border: 18px solid rgb(24, 130, 252);
  }

  .resetBtn, .goToHome {
    margin-top: 30px;
    position: relative;
    top: 0px;
    left: 0;
    transform: rotate(0);
  }
}

@media (max-width:460px) {
  .resetBtn, .goToHome {
    transform: rotate(0);
  }
  .gameBox {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,30px);
    grid-template-rows: repeat(3,30px);
  }

  .gameboard {
    flex-direction: column;
  }

  .O {
    position: absolute;
    inset: 3px;
    background-color:  rgba(240, 248, 255, 0.199);
  }

  .O > div {
    margin: 15px;
    border: 12px solid rgb(24, 130, 252);
  }

  .X::before,.X::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13px;
    background-color: #fc3319;
  }

  .X::before {
    transform: translateY(45px) rotate(45deg);
  }

  .X::after{
    transform: translateY(45px) rotate(-45deg);
  }

  .X {
    position: absolute;
    inset: 3px;
    background-color: rgba(240, 248, 255, 0.199);
    z-index: 20;
  }

  .gameBoxTTT{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  50%  25% 25%;
    padding: 18px;
  }

  .gameBoxTTT > .gameBox {
    position: relative;
    min-width: 290px;
    max-width: 490px;
    min-height: 290px;
    max-height: 490px;
    aspect-ratio: 1;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border-radius: 12px;
  }

  .cellT {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .cell1, .cell4, .cell7 {
    border-left:  2px solid rgba(88, 88, 88, 0.973);
    border-right:  2px solid rgba(88, 88, 88, 0.973);
  }

  .cell3, .cell5, .cell4{
    border-top:  2px solid rgba(88, 88, 88, 0.973);
    border-bottom:  2px solid rgba(88, 88, 88, 0.973);
  }

  .cell0, .cell3 , .cell6 {
    margin-left: 10px;
  }

  .cell2, .cell5 , .cell8 {
    margin-right: 10px;
  }

  .cell0, .cell1 , .cell2 {
    margin-top: 10px;
  }

  .cell8, .cell7 , .cell6 {
    margin-bottom: 10px;
  }

  .gameBoxTTT > .gameBtns ,
  .gameBoxTTT > .playerIndicator{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .gameBoxTTT > .gameBtns {
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .oneT {
    animation: popIcon 2s infinite;
  }

  @keyframes popIcon {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }

  .chatModal {
    position: absolute;
    padding: 20px;
    display: grid;
    grid-template-rows: 12% 78% 10%;
    background-color: rgba(61, 60, 60, 0.267);
    backdrop-filter: blur(0.01rem);
    z-index: 50;
    transition: 300ms;
  }
  
  .showChatModal {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
  }
  
  .hideChatModal {
    bottom: 24px;
    right: 24px;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    
  }

  .chatModal .chatHeader {
    background-color: rgba(137, 135, 135, 0.382);
    padding:6px;
    color: white;
    border-radius: 10px;
  }

  .chatModal .chatContainer{
    overflow-y: scroll;
    padding: 10px 4px;
  }
  .chatModal .chatContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 300ms;
  }

  .chatLeft{
    align-self: flex-start;
    background-color: #0050c8;
  }
  
  .chatRight {
    background-color: #23d70b;
    align-self: flex-end;
  }
    
  .chatModal .chatContainer li{
    max-width: fit-content;
    margin:  4px;
    margin-left: -30px;
    padding:1px 16px;
    border-radius: 28px;
    font-size: 19px;
    font-weight: 400;
    color: white;
  }

  .chatModal .inputContainer {
    grid-template-columns: 75% 25%;
  }
  .chatModal .inputContainer button {
    font-size: 18px;
    font-weight: 700;
    background-color: #0B5ED7;
    color: white;
    margin: 0 10px;
    border-radius: 6px;
  }

  .showInput {
    display: grid;
  }

  .hideInput {
    display: none;
  }

  .chatModal .inputContainer input {
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    padding: 0 8px;
  }
}